<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">
            <h1>Welcome!</h1>
            <ul>
                <li><a href="/regex/validate-email?email=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa!" th:href="@{/regex/validate-email?email=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa!}">Regex ReDoS</a></li>
                <li><a href="/secure" th:href="@{/secure}">Secure Area</a></li>
                <li><a href="/login" th:href="@{/login}">Login</a></li>
                <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </body>
</html>